/* Removed to use as much bootstrap as possible
h2 {
  padding: $vr 0;
  font: bold 22px $ubuntu;
  color: #b5b5b5;
  text-align: center;
  text-shadow: 1px 1px 0px white;
}

article.post {
  margin: 0 auto;
  padding: 15px 0;
  width: 700px;
  padding-bottom: 30px;
  border-bottom: 1px #aaa solid;

  .comment {
    margin-top: 10px;

    a.comment-count {
      font-size: 11px;
      vertical-align: bottom;
    }
  }

  header {
    h2 {
      font-size: 36px;
      text-align: left;
      color: #3e3e3e;
    }
  }

  h3 {
    text-align: left;

  }

  section.body {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 550px;
    text-align: justify;
    color: #3e3e3e;

    p + p {
      margin: 24px 0;
    }

    ul {
      list-style: disc;
      list-style-position: inside;
    }

    ul + p {
      margin: 24px 0;
    }

    img {
      max-width: 550px;
    }
  }

  footer {
    vertical-align: top;
    display: inline-block;
    margin-left: 15px;

    p {
      font-size: 12px;
      color: #bbb;

      &.date {
        font-size: 16px;
        color: #666;
        text-shadow: 2px 2px #ddd;
      }
    }

    ul.authors {
      p {
        text-align: center;

	&.separator {
          font-size: 24px;
	  color: #666;
          text-shadow: 2px 2px #ddd;
	}
      }
    }

    li.author {
      margin: 20px 0;

      p {
        margin-top: 5px;
      }

      span {
       color: #999;
      }
    }
  }

  a {
    color: #3e3e3e;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px dotted #3e3e3e;

    &:hover,
    &:active {
      padding-bottom: 2px;
      border-bottom: 1px solid #3e3e3e;
    }
  }
}

aside {
  display: none;
}

#disqus_thread {
  margin: 0 auto;
  padding: 15px 0;
  width: 700px;
}

*/

.blog-post {
  border-bottom: 1px solid #AAA;
  padding: 15px 0 30px 0;


  aside {
    ul {
      list-style-type: none;
    }

    h3 {
      font-size: 0.8em;
      padding: 10px 0;

      &:first-child {
        padding-top: 20px;
      }
    }

    a {
      font-size: 0.7em;
    }
  }
}

footer {
  p {
    font-size: $fontSizeSmall;
    color: #bbb;

    &.date {
      font-size: $fontSizeLarge;
      color: #666;
      text-shadow: 2px 2px #ddd;
    }
  }

  .authors {

      &.separator {
        font-size: 24px;
        color: #666;
        text-shadow: 2px 2px #ddd;
      }
    
  }
}

.text-separator {
  display: block;
  font-size: $baseFontSize * 1.5;
  color: #666;
  text-shadow: 2px 2px #ddd;
}

#disqus_thread {
  margin-top: $vr;
}
