h2 {
  padding: $vr 0;
  font: bold 22px $ubuntu;
  color: #b5b5b5;
  text-align: center;
  text-shadow: 1px 1px 0px white;
}

article.post {
  margin: 0 auto;
  padding: 15px 0;
  width: 700px;
  padding-bottom: 30px;
  border-bottom: 1px #aaa solid;

  header {
    h2 {
      font-size: 36px;
      text-align: left;
      color: #3e3e3e;
    }
  }

  section.body {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 550px;
    text-align: justify;
    color: #3e3e3e;


    ul {
      list-style: disc;
      list-style-position: inside;
    }

    ul + p {
      margin: 24px 0;
    }
  }

  footer {
    vertical-align: top;
    display: inline-block;
    margin-left: 30px;

    div {
      margin-top: 8px;
    }

    p {
      font-size: 12px;
      color: #bbb;

      span {
        color: #999;
      }

      &.date {
        color: #666;
      }
    }
  }

  a {
    color: #3e3e3e;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: top;
    padding-bottom: 3px;
    border-bottom: 1px dotted #3e3e3e;

    &:hover,
    &:active {
      padding-bottom: 2px;
      border-bottom: 1px solid #3e3e3e;
    }
  }
}

aside {
}

#disqus_thread {
  margin: 0 auto;
  padding: 15px 0;
  width: 700px;
}

/* ==========================================================================
   Media queries
   ========================================================================== */
@media only screen and (max-width:960px) {
  section.section {
    padding-top:90px;
  }

  article.post,  
  #disqus_thread {
    width: 600px;
  }

  article.post {
    section {
      margin-bottom: 20px;


    }


    footer img,
    footer .author {
      float: left;
    }

    footer .author {
      margin: 30px 0 0 20px;
    }

  }
}
@media only screen and (max-width:640px) {
  #disqus_thread,
  article.post {
    width: 100%;
  }

  #disqus_thread iframe {
    margin:0 10px;
  }
  article.post {

    section.body {
      width: 100%;
      p {
        margin: 10px 10px;
      }
    }
  }
}