/* Global Variables */
$arial: Arial,"Helvetica Neue", Helvetica, Geneva, sans-serif;
$ubuntu: 'Ubuntu', $arial;
$georgia: Georgia, "Times New Roman", Times, serif;
$tahoma: Tahoma,Arial,sans-serif;
$verdana: Verdana,Arial,sans-serif;

$dark_white:#fefefe;
$dark_grey: #231f20;
$light_grey: #616161;
$lighter_grey:#848484;
$vr: 20px;
$hr: 12px;

body, button, input, select, textarea { 
  font:normal 1em/1.4 $verdana;
  color: $dark_grey;
}

.centered {
  position:relative;
  overflow:hidden;
  max-width:1180px;
  margin:0 auto;
  @include box-sizing(border-box);
}


