h3 {
  font:bold 22px $ubuntu;
  color:#b5b5b5;
  text-shadow:1px 1px 0px white;
  text-align:center;
  padding:$vr 0;
}

.section {
  min-height:400px;
  padding-top:60px;
}

.back_top {
  text-align:right;
  font:300 13px $ubuntu;
  font-style:italic;
  border-bottom:1px solid $dark_grey;
  padding-bottom:$vr;
  width:140px;
  text-decoration:none;
  color:$lighter_grey;
  position:absolute;
  right:0px;
}

.more {
  font:300 15px $ubuntu;
  color:$lighter_grey;
  display:block;
  margin:$vr auto;
  text-align:center;
}

#introduction {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat:no-repeat;
  padding-top:0px;
  position: relative;

  hgroup {
    margin:250px auto 15px auto;
    background:transparent url('/images/sprite.png') 0px 0px no-repeat;
    width:275px;
    height:94px; 
    overflow:hidden;
    text-indent:-9999px;
  }
  hgroup + p {
    width:275px;
    margin:0px auto 3*$hr auto;
    background:transparent url('/images/sprite.png') 0px -120px no-repeat;
    height:67px;
    text-indent:-9999px;
 }
 p + p {
    font:300 22px/32px $ubuntu;
    width:600px;
    margin:$hr auto;
 }

 .centered {
    background:transparent url('/images/bubbles.png') 110px 20px no-repeat;
    min-height:630px; 
    text-align:center;
 }

 &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    display: block;
    margin-left: -30px;
    background: url('/images/sprite.png') 17px -358px no-repeat;
    width: 24px;
    height: 24px; 
    padding: 17px; 
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #b2b2b2;
 }
}

#speakers {
  background-color:#fafafa;
  ul {
    margin-top:30px;
    li {
      position:relative;
      padding:25px 0px 85px 255px;
    }
  }
  h4 {
    font:300 20px $ubuntu;
    color: $dark_grey;
    margin-bottom:$vr;
    span {
      background:transparent url('/images/speakers/matz.jpg') center center no-repeat;
      background-size:cover;
      border:8px solid white;
      border-radius:83px;
      height:150px;
      width:150px;
      display:block;
      @include box-shadow(0px,0px,1px,0px,black);
      position:absolute;
      left:60px;
      top:5px;
      text-indent:-999px;
    }
  }
  h5 {
    font:normal 15px $ubuntu;
    color:$lighter_grey;
    margin-bottom:$hr;
  }
  p {
    font:300 13px $ubuntu;
    color:$lighter_grey;
  }
}

#tickets {
  background-color:#e1e1e1;
  .ticket {
    width:350px;
    background:transparent url('/images/sprite.png') 0px -180px no-repeat;
    height:165px;
    margin:$vr*3  auto;
  }
  p {
    text-align:center;
    font:300 20px $ubuntu;
    font-style:italic;
    color:$lighter_grey;
  }
}

#venue {
    h3 {
      text-shadow:1px 1px 0px black;
    }
    .back_top {
      border-bottom:1px solid white;
    }
    background:transparent url('/images/venue/venue_bg.jpg') 0px 0px no-repeat;
    background-size:cover;
    h4 {
      color:white;
      font:300 20px/32px $ubuntu;
      text-align:center;
      margin:3*$vr 0 $vr 0;
      span {
        font:300 18px $ubuntu;
      }
    }
    p {
      color:$dark_white;
      text-align:center;
      font:300 16px/24px $ubuntu;
      width:60%;
      margin:$vr auto;
      img {
        margin-top:2*$vr;
      }
      img +img  {
        margin-left:100px;
      }
      a {
        text-align:center;
        font:300 15px $ubuntu;
        font-style:italic;
        color:$dark_white;
        margin:2*$vr 0;
        display:block;
      }
    }
}

#sponsors {
  background:#f2f2f2;
  p {
    margin:2*$vr auto;
    text-align:center;
    color:$light_grey;
    font:300 16px $ubuntu;
    a {
      display:block;
      margin:2*$vr auto;
      background:#d7d7d7;
      padding:10px 10px;
      width:300px;
      border:1px solid #cecece;
      font:300 18px $ubuntu;
      color:$light_grey;
      text-decoration:none;
    } 
  }
}


#contributors {
    h4 {
      font:300 20px $ubuntu;
      color:$dark_grey;
      margin:2*$vr auto;
      text-align:center;
    }
    ul {
      margin-bottom:4*$vr;
      li {
        display:inline-block;
        text-align:center;
        font:300 13px $ubuntu;
        color:$light_grey;
        img {
          margin-bottom:$vr/2;
        }
      }
    }
    .committee li {
      width:13%;
    }
    .community li {
      padding:0 $hr;
    }
}

#contact {
  background:#e1e1e1;
}
