/* Responsive overrides */

@media (max-width: 979px) {
	.homepage-body .navbar-fixed-top {
		margin: 0;
	}
}

@media (max-width: 767px) {
	.homepage-body {
    	padding-left: 0;
    	padding-right: 0;
	}
}