---
title: EuRuKo 2013 - Athens | Speakers
---

<h4><span class="name" itemprop="name"><%= speaker.name %></span></h4>
<h5><%= speaker.name %><span class="subtitle" itemprop="jobTitle"><%= speaker.title %></span></h5>
<p><%= speaker.short_bio %></p>