---
title: EuRuKo 2013 - Athens | About city of Athens
menu_item: city-of-athens
---
<section>
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu' %>
            </div>

            <div class="span8">
                <h3 class="centered">The city of Athens</h3>
                <div class="thumbnail">
                    <%= image_tag 'guide/Acropolis_Athens_Greece.jpg' %>
                    <span class="attribution">photo by K beard CC BY SA 2.5</span>
                </div>

                <br>

                <p>
                    Athens, the capital and largest city of Greece, has a population of more than four million people. It is the center of the ancient civilized world and birthplace of most of its culture, with a recorded history that spans at least 3,000 years. The archaeological treasures of the city are well known all over the world.
                </p>

                <br>

                <div class="thumbnail">
                    <%= image_tag 'guide/Athens_-_Kifissias_Avenue_-_20080729a.jpg' %>
                    <span class="attribution">photo by Barcex CC BY SA 2.5</span>
                </div>

                <br>

                <p>
                    Modern Athens is a bustling and cosmopolitan metropolis, central to economic, financial, industrial, political and cultural life in Greece. Having the dimensions of a major city, with the surrounding districts of Attica, it offers many cultural, educational, athletic and other activities to the visitors, who throughout their stay, can find high standards of services accompanied by the generous and famous Greek hospitality.
                </p>
            </div>
        </div>
    </div>
</section>
