---
title: Side Activities - EuRuKo 2013 - Athens
menu_item: side-activities
---
<section class="guide">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu' %>
            </div>

            <div class="span8">
                <h3 class="centered">Side Activities</h3>

                <p>
                    Coming to EuRuKo 2013 with your other half, your family or with a friend and they are not interested in the conference?
                    Here are some suggestions on what to do!
                </p>

                <h4>PAM TOURS DMC</h4>

                <p>
                    <a href="http://www.pamtours.gr/" target="_blank">PAM TOURS DMC</a>
                    has compiled a special list of activities for EuRuKo 2013.
                    To reserve a seat, contact PAM TOURS DMC directly <a href="mailto:reservations@pamtours.gr">through email</a>
                    or by calling them at <a href="tel:00302109229269">(0030) 210 922 9269</a>
                    and <a href="tel:00302109229294">(0030) 210 922 9294</a>.
                </p>

                <h5>1. City Tour, the Acropolis &amp; the Acropolis Museum</h5>

                <dl class="dl-horizontal dl-light">
                    <dt>Description</dt>
                    <dd>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="time">08:30 - 10:00</td>
                                <td>
                                    Meet with the licensed guide inside the Syntagma Metro Station;
                                    continue on to the Parliament, the Monument to the Unknown Soldier, the change
                                    of the guards, through the National Gardens to the magnificent neoclassical
                                    Zappeion Hall, the Temple of Zeus (short visit), the Hadrian’s Arch and through
                                    Plaka to the Acropolis.
                                </td>
                            </tr>

                            <tr>
                                <td class="time">10:15 - 11:45</td>
                                <td>
                                    Visit the Acropolis Complex (the Propylaea, the Temple of Athena
                                    Niki, the Parthenon and the Erechteion) as well as the surrounding monuments
                                    (the Odeon of Herod Atticus, Philopappos, Mars and Pnyx Hills).
                                </td>
                            </tr>

                            <tr>
                                <td class="time">12:00 - 13:30</td>
                                <td>
                                    Visit of the New Acropolis Museum
                                </td>
                            </tr>

                            <tr>
                                <td class="time">13:30 - 15:00</td>
                                <td>
                                    <em>(Optional)</em> lunch in Plaka
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>

                    <dt>Cost</dt>
                    <dd>54 € per person</dd>

                    <dt>Lunch extra</dt>
                    <dd>19 € per person</dd>

                    <dt>Inclusions</dt>
                    <dd>
                        <ul>
                            <li>Private, licensed guide</li>
                            <li>Entrance fees to the Acropolis and the Acropolis Museum</li>
                            <li>Third party liability insurance</li>
                            <li>VAT</li>
                        </ul>
                    </dd>

                    <dt>Notes</dt>
                    <dd>
                        <ul>
                            <li>Cost for lunch does <strong>not</strong> include drinks</li>
                        </ul>
                    </dd>
                </dl>

                <h5>2. Athens food tour</h5>

                <dl class="dl-horizontal dl-light">
                    <dt>Description</dt>
                    <dd>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="time">09:00</td>
                                <td>
                                    With your licensed guide you will walk through the main, commercial streets of Athens
                                    including Plaka, Monastiraki, Psirri areas.
                                    You will taste Greek coffee and ouzo or “tsipouro” in Plaka, a “koulouri” from a
                                    street vendor, “halva”, olives, feta cheese, rusks, sausage from a “Pantopoleion”
                                    (traditional grocery shop), “loukoumades” at Doris Patisserie, and sardines in a
                                    small café inside the vibrant Varvakeios Central Market (food-fruit-meet and fish
                                    market).
                                </td>
                            </tr>

                            <tr>
                                <td class="time">12:30</td>
                                <td>
                                    End of the tour in Plaka; rest of time at leisure to explore Plaka.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>

                    <dt>Cost</dt>
                    <dd>34 € per person</dd>

                    <dt>Lunch extra</dt>
                    <dd>15 € per person</dd>

                    <dt>Inclusions</dt>
                    <dd>
                        <ul>
                            <li>Private, licensed guide</li>
                            <li>All tastings as per programme</li>
                            <li>Third party liability insurance</li>
                            <li>VAT</li>
                        </ul>
                    </dd>

                    <dt>Notes</dt>
                    <dd>
                        <ul>
                            <li>Cost for lunch does <strong>not</strong> include drinks</li>
                        </ul>
                    </dd>
                </dl>

                <h5>3. Athens food tour &amp; cooking lesson with lunch</h5>

                <dl class="dl-horizontal dl-light">
                    <dt>Description</dt>
                    <dd>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="time">09:00</td>
                                <td>
                                    With your licensed guide you will walk through the main, commercial
                                    streets of Athens including Plaka, Monastiraki, Psirri areas.
                                    You will taste greek coffe and ouzo or “tsipouro” in Plaka, a “koulouri” from a
                                    street vendor, “halva”, olives, feta cheese, rusks, sausage from a “Pantopoleion”
                                    (traditional grocery shop), “loukoumades” at Doris Patisserie and sardines in a
                                    small café inside the vibrant Varvakeios Central Market (food-fruit-meet and fish
                                    market).
                                </td>
                            </tr>

                            <tr>
                                <td class="time">12:00</td>
                                <td>
                                    On to Monastiraki where you will learn how to make “tzatziki” and “souvlaki”.
                                </td>
                            </tr>

                            <tr>
                                <td class="time">12:30 - 14:00</td>
                                <td>
                                    Lunch in the same tavern (traditional menu incl. the tzatziki and
                                    souvlaki you’ll have cooked).
                                </td>
                            </tr>

                            <tr>
                                <td class="time">14:00</td>
                                <td>
                                    End of the tour in Monastiraki.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </dd>

                    <dt>Cost</dt>
                    <dd>45 € per person</dd>

                    <dt>Inclusions</dt>
                    <dd>
                        <ul>
                            <li>Private, licensed guide</li>
                            <li>All tastings as per programme</li>
                            <li>Tzatziki and souvlaki cooking lesson</li>
                            <li>Lunch in a traditional ravern in Monastiraki (full menu excluding drinks)</li>
                            <li>Third party liability insurance</li>
                            <li>VAT</li>
                        </ul>
                    </dd>
                </dl>

                <h4>Athens Walking Tours</h4>

                <p>
                    <a href="http://www.athenswalkingtours.gr/index.html" target="_blank">The Athens Walking Tours</a>,
                    the most popular tourist activity in Athens with international acclaim,
                    offer personalized exciting "walks through history" to exclusive and intimate groups of no more than
                    18 persons in the company of licensed, university graduates and highly knowledgeable guides.
                </p>

                <p>
                    We have arranged a special 10% discount for EuRuKo 2013 on catalogue prices.
                    All you have to do is to use the "<strong>EUR513</strong>" promo code on the checkout step.
                    Here's a sample list of their offered activities:
                </p>

                <ul>
                    <li><a href="http://www.athenswalkingtours.gr/The-Acropolis-And-New-Acropolis-Museum-Tour" target="_blank">Acropolis, City Tour & Acropolis Museum Tour</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/Athens-Food-Tour" target="_blank">Athens Food Tour</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/Cooking-Lessons" target="_blank">Cooking lessons</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/Half-Day-Tour-of-Cape-Sounion-and-the-Temple-of-Poseidon" target="_blank">Half Day Tour of Cape Sounion and the Temple of Poseidon</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/Saronic-Gulf-Tour" target="_blank">One day cruise to the Saronic Gulf islands of Aegina, Poros and Hydra</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/delphi-tour" target="_blank">One day tour to Delphi</a></li>
                    <li><a href="http://www.athenswalkingtours.gr/One-Day-Argolis-Tour-Mycenae-Epidaurus" target="_blank">One day Argolis tour (Mycenae & Epidaurus)</a></li>
                </ul>

                <br style="clear: left;">

                <p class="pull-left">
                    <a href="/guide/sightseeing"><i class="icon-double-angle-left"></i> Sightseeing</a>
                </p>

                <p class="pull-right">
                    <a href="/guide/vacations">Vacations <i class="icon-double-angle-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
