---
title: Travel &amp; Accommodation - EuRuKo 2013 - Athens
menu_item: travel-information
---
<section xmlns="http://www.w3.org/1999/html" class="guide">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu' %>
            </div>

            <div class="span8">
                <h3 class="centered">Useful information</h3>
                <p>
                    Athens is in the Eastern European Time Zone (EET), which is 2 hours ahead of Greenwich Mean Time (GMT+2) normally and 3 hours ahead during DST.
                </p>

                <p>
                    The climate in Greece is typical of the Mediterranean climate: mild winters, relatively warm and dry summers and extended periods of sunshine throughout most of the year.
                    Average temperatures in June range from 27-34C (81-93F).
                </p>

                <p>
                    The Euro (EUR) is the currency of Greece. Most banks are open from 8.00 am to 2.30 pm on Monday to Thursday and from 8.00 am to 2.00 pm on Friday, while ATMs are widely available.
                    All major credit cards (American Express, Diners Club, MasterCard, Visa) are accepted in Greece.
                </p>

                <p>
                    The electricity supply in Greece is alternating current, 220 volts, 50 cycles.
                    Appliances for 110 or 120 volts may be operated by using step down transformers of 220 - 250/110 volts connected to each outlet.
                    For the most part, electrical sockets (outlets) in Greece are one of the two European standard electrical socket types: the "Type C" Europlug and the "Type E" and Type F" Schuko.
                </p>

                <p>
                    Passport and visa requirements vary from country to country.
                    For details please visit the <a href="http://www.mfa.gr/en/visas/visas-for-foreigners-traveling-to-greece/">Greek Ministry of Foreign Affairs</a>
                    and the <a href="http://www.embassypages.com/greece">list of greek Embassies and Consulates.</a>
                </p>

                <p>
                    While Greek is the main language used in Athens, most Athenians speak English and those in the tourist industry are likely to speak French and German too.
                    Notices, menus and road signs are written in both Greek and English.
                </p>

                <h3 class="centered">Getting to Athens</h3>

                <h4>By air</h4>
                <p>
                    At the crossroads of Europe, Africa and the Middle East, Athens is a city that is easily accessible from virtually any point of departure.
                    Athens is served by the Athens International Airport “Eleftherios Venizelos”, offering numerous flights to domestic and international destinations,
                    both from commercial airlines as well as charter flights.
                    Located 33km (20 miles) southeast of Athens, it is easily accessible via Attiki Odos, a major highway constituting the Athens City Ring Road.
                    Public transport to Athens and the port of Piraeus is provided by metro, express airport bus connections, taxi and high-speed rail.
                </p>

                <h4>By sea</h4>
                <p>
                    There are daily ferryboat connections from Italy (Ancona, Bari and Brindisi, Venice and Trieste) to Patras, the second largest port of entry to Greece;
                    approximately 220 km (135 miles) from Athens. The Middle East is accessible via the port of Volos.
                </p>

                <h4>By car</h4>
                <p>
                    Athens can be reached by road via Western Balkan countries, Bulgaria, Albania and Turkey.
                </p>

                <h4>By train</h4>
                <p>
                    The main railway network of Greece currently provides links between Athens and Northern and Southern Greece and the rest of Europe through the Western Balkan countries and Bulgaria.
                </p>

                <h3 class="centered">Getting from the airport to downtown Athens</h3>
                <p>
                    Getting to/from the Athens International Airport and the city center, located about 20 km (12 miles) east can be achieved via:
                </p>

                <h4>Suburban Railway (Proastiakos)</h4>
                <p>
                The Suburban railway connects the Athens airport with the Metro, Athens Central Railway Station and 
                Acharnai Railway Center, and through them to the National Railway network. Rides 
                depart every 15-25 minutes from the Athens Airport railway station to Plakentias station, 
                where you can change trains and continue to the city center via Metro Line 3, using the same ticket.                </p>

                <h4>Metro</h4>
                <p>
                    Take Metro Line 3 (Egaleo – Douk. Plakentias – Airport), which connects the Athens airport with the city center.
                    Trains run every 30 minutes, 7 days a week from 6:30 a.m. to 11:30 p.m.
                    The trip from/to the Airport to Syntagma station (Athens center) lasts 40 minutes.
                    See the Metro timetable to the airport <a href="http://www.stasy.gr/index.php?id=70&L=1">here</a>.
                    For ticket info see <a href="http://www.athenstransport.com/english/tickets/">Athens Transport tickets and cards</a>.
                </p>

                <h4>24-hour express buses</h4>
                <p>
                    All buses leave passengers at the Departures Level and depart from the Arrivals Level, between Exits 4 and 5.
                    Please note that there is a special ticket for these lines. There are four routes:
                </p>
                <ul>
                    <li>Χ93 : Kifissos KTEL (long-distance buses) Station - Airport</li>
                    <li>Χ95 : Syntagma – Airport</li>
                    <li>Χ96 : Port of Piraeus – Airport</li>
                    <li>Χ97 : Dafni Metro Station – Airport</li>
                </ul>
                <p>
                    One-way travel time estimates: X93 (65 min), X95 (70 min), X96 (90 min), X97 (70 min).
                    Allow sufficient time to travel as traffic conditions may cause delays.
                </p>

                <h4>Taxi</h4>
                <p>
                    A taxi from the airport to the city center costs a flat rate of €35 from 5:00 a.m. to midnight, and €50 from midnight to 5:00 a.m.
                </p>

                <h3>Staying in Athens</h3>
                <p>
                    Looking for a place to stay? There are a lot of options for hotels ranging from 1 to 5 star ones.
                    Indicative prices per person per night:
                </p>

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Single</th>
                        <th>Double</th>
                        <th>Dorm</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5-star</td>
                        <td>130€</td>
                        <td>100€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4-star</td>
                        <td>110€</td>
                        <td>80€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3-star</td>
                        <td>90€</td>
                        <td>60€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2-star</td>
                        <td>50€</td>
                        <td>30€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Boutique</td>
                        <td>110€</td>
                        <td>65€</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Hostel</td>
                        <td>20€ - 40€</td>
                        <td>15€ - 30€</td>
                        <td>10€ - 20€</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <p class="pull-left">
                    <a href="/guide/city-of-athens"><i class="icon-double-angle-left"></i> The City</a>
                </p>

                <p class="pull-right">
                    <a href="/guide/transportation">Transportation <i class="icon-double-angle-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
