<% window = 2 %>
<% down = page_number - window %>
<% up = page_number + window %>

<div class="pagination pagination-centered">
  <ul>
  <% if prev_page %>
    <li><%= link_to "&laquo; Previous", prev_page.url %></li>
  <% else %>
    <li class="disabled"><span>&laquo; Previous</span></li>
  <% end %>

  <% (down..up).select { |i| i > 0 && i <= num_pages }.each do |i| %>
    <% if i == page_number %>
      <li class="active"><span><%= page_number %></span></li>
    <% else %>
      <% page = nil %>
      <% (i...page_number).each { page = page ? page.metadata[:locals]['prev_page'] : prev_page } %>
      <% (page_number...i).each { page = page ? page.metadata[:locals]['next_page'] : next_page } %>
      <li><%= link_to i, page && page.url %></li>
    <% end %>
  <% end %>

  <% if next_page %>
    <li><%= link_to "Next &raquo;", next_page.url %></li>
  <% else %>
    <li class="next disabled"><span>Next &raquo;</span></li>
  <% end %>
  </ul>
</div>
