---
title: Euruko 2013 - Athens
description: Euruko 2013 - The european Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div class="section" id="introduction">
  <div class="centered" itemscope itemtype="http://data-vocabulary.org/Event">
    <hgroup>
      <h1 itemprop="summary">Euruko 2013</h1>
      <h2 itemprop="location">Athens, Greece</h2>
    </hgroup>
    <p>
      <time itemprop="startDate" datetime="2013-06-28">28 June 2013</time>
      <time itemprop="endDate" datetime="2013-06-29">29 June 2013</time>
    </p>
    <p>
      EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28+29th of June.
    </p>
  </div>

  <div id="news" class="news">
    <h3>News</h3>
    <ul>
      <!-- News Placeholder list items -->
      <li>
        <span>10/01/2013</span>
        <a href="#tickets">Tickets will be soon available</a>          
      </li>
      <li>
        <span>09/12/2012</span>
        <a href="#speakers">New speaker confirmed</a>          
      </li>
    </ul>
  </div>

</div>

<div class="section" id="speakers">
  <h3 class="centered">Speakers
    <a href="#" class="back_top">to the top ^</a>
  </h3>
  <ul class="centered">
    <li>
    <h4><span>Matz</span>Yukihiro Matsumoto</h4>
    <h5>Ruby Chief Architect</h5>
    <p>Matz needs no introduction. As the creator of the beautiful and elegant language we all love, we are honored to have Matz 
    joining us for this year's EuRuKo.</p>
    </li>
  </ul>
  <a href="#" class="more">other speakers will be announced soon ›</a>
</div>

<div class="section" id="tickets">
  <h3 class="centered">Tickets
    <a href="#" class="back_top">to the top ^</a>
  </h3>
  <div class="centered">
    <div class="ticket"></div>
    <p>coming soon...</p>
  </div>
</div>

<div class="section" id="venue">
  <div class="centered">
    <h3>Venue
      <a href="#" class="back_top">to the top ^</a>
    </h3>

    <h4>
      Badminton Theater<br/>
      <span>157 73, Athens, Greece</span>
    </h4>
    <p>
    At full capacity the auditorium seats 2.500 people in an amphitheater arrangement without obstructed view for all the spectators. The performance area of the stage measures 30 meters width by 18 meters depth with a 15.50 meter height providing ample room for spectacular events.<br/>
    <img src="/images/venue/venue_1.png" alt="Badminton Theater - Inside" />
    <img src="/images/venue/venue_2.png" alt="Badminton Theater - Inside" />
    <a href="#">more information ›</a>
    </p>
  </div>
</div>

<div class="section" id="sponsors">
  <h3 class="centered">Sponsors
    <a href="#" class="back_top">to the top ^</a>
  </h3>
  <p class="centered">
    Information about sponsorship packages will be available soon
    <a href="#" class="external-link disabled">sponsorships - download brochure</a>
  </p>
</div>

<div class="section" id="contributors">
  <h3 class="centered">Contributors
    <a href="#" class="back_top">to the top ^</a>
  </h3>
  <h4>Organizing Committee</h4>
  <ul class="centered committee">
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
      </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
    <li>
      <img src="/images/organizing.png" alt=""/>
      <h5>Takis Autokinitakis</h5>
    </li>
  </ul>
  <h4>Community</h4>
  <ul class="centered community">
    <li>Panos Aeroplanos</li>
    <li>Panos Aeroplanos</li>
    <li>Panos Aeroplanos</li>
    <li>Panos Aeroplanos</li>
    <li>Panos Aeroplanos</li>
    <li>Panos Aeroplanos</li>
  </ul>
  <a href="#" class="more">help organize the event... contact us! ›</a>
</div>

<div class="section" id="contact">
  <h3 class="centered">Contact
    <a href="#" class="back_top">to the top ^</a>
  </h3>
  <p>
    <a href="https://twitter.com/euruko" class="external-link stay-updated" target="_blank">stay updated by following <em>@Euruko</em> on twitter</a>
    <a href="mailto:info@euruko2013.org" class="contact">info@euruko2013.org</a>
  </p>
</div>
