---
title: Party Zone - EuRuKo 2013 - Athens
description: EuRuKo 2013 - Party Zone
---
<div id="party-page">
  <div class="intro">
    <h2>euruko</h2>
    <h1>party zone</h1>
    <p><%= image_tag "party/github.png"%></p>
  </div>

  <div class="overview">
    <h2>The <span class="brand">EuRuKo</span> party is here!</h2>
    <p>
      Actually “here” this year means “more than 5 bars”! That’s right, we negotiated special prices for EuRuKo delegates for 3 days around the Agia Ιrini Square bar district, in the centre of Athens close to public transport and the ancient centre and agora. Most of the bars offer delicious meals as well.
    </p>
    <p>
      As if this was not enough, on Friday night thanks to our party sponsor, GitHub, we will all meet for a fun night to consume all of our party coupons worth of alcoholic beverages at Agia Ιrini Square!
    </p>
  </div>
</div>
