---
title: Privacy Policy - Euruko 2013 - Athens
description: Euruko 2013 - Privacy Policy
---

<div id="privacypolicy" itemscope itemtype="http://schema.org/Article">
  <div class="section" itemprop="articleBody">

    <h1 itemprop="name">EuRuKo Privacy Policy</h1>

    <ul>
      <li>Participant contact details will be kept on the Euruko 2013  database, which will only be used by Euruko2013 or subsequent Euruko conferences. Credit card information will NOT be stored in this database.</li>
      <li>Euruko2013 will use the email and, whenever appropriate, telephone number provided in the registration process in order to send a welcome email, billing and invoice information, news and updates.</li>
      <li>If you would like your record to be deleted after the conference, please notify Euruuko2013 by email (<%= mail_to 'registration@euruko2013.org' %>) or in writing to the Euruko2013 Registration Office.</li>
      <li>If requested by law, Euruko2013 holds its right to share your information with the authorities.</li>
      <li>Euruko2013, Awapai Ltd (Eventora) and Piraeus Bank SA may use "cookies", a small amount of usually anonymous information, to store some relevant session information. Euruko2013, Awapai Ltd (Eventora) and Piraeus Bank SA may store and access such "cookies" on your computer. Making use of this technology is necessary for using The Service.</li>
      <li>Please be informed that Euruko2013 uses third party vendors and hosting partners to provide the necessary hardware, software, emailing, networking, storage, and related technology required to run the Site and the Service.</li>
      <li>Euruko2013 may update this Privacy Policy from time to time. In any case of a significant change to this Privacy Policy, we will alert the participants via email.
    </ul>

    <p>
      Make sure you also read the <%= link_to 'Terms of Use', '/termsofuse' %>.
    </p>
  </div>

  <footer>
    <p>
      Last update: <span itemprop="dateModified"><%= Date.today %></span>
    </p>
  </footer>
</div>
