---
title: EuRuKo 2013 - Athens | Speakers
---
<section id="speakers">
  <ul class="centered">
    <% data.speakers.each_with_index do |speaker, i| %>
      <%= partial 'speakers/speaker', locals: { speaker: speaker, position: (i.even? ? "left" : "right") } %>
    <% end %>
  </ul>
</section>
