---
title: Venue - EuRuKo 2013 - Athens
description: EuRuKo 2013 - Venue
---
<div id="venue-page">
  <div class="intro">
    <h1>Badminton Theater</h1>
    <p>
      Surrounded by a park near the east outskirts of Athens the EuRuKo 2013 venue is a stunning theatre built for the 2004 Athens Olympic Games. Access to ‘Badminton Theatre’ is easy and its indoors as well as outdoors ambience immaculate. The acoustics are pristine and the stage is a whopping 30m x 15.5m x 18.5m space backed by amazing audio-visual tech.
    </p>
  </div>
  <h2>The Venue</h2>
  <ul class="venue centered ">
    <li class="left">
      <%= image_tag "venue/stage.png"%>
      <h5>STAGE</h5>
      <p>The performance area of the stage measures 30 meters width by 18 meters depth with a 15.50 meter height providing ample room for spectacular events. It is equipped with advanced theater technology including a ΒΑΤΑLPHA computer controlled fly system with 46 flying pipes, all the basic lighting instruments, 200 ADB dimmers, Congo ETC lightning console, 5 led screen for subtitles and video projectors. The stage is designed to facilitate easy access to all the trucks carrying theatre equipment.</p>
    </li>
    <li class="right">
      <%= image_tag "venue/sound.png"%>
      <h5>SOUND</h5>
      <p>Particular attention has been devoted to the acoustics of the theater’s stage and auditorium, with the reverberation time being under 1.1 seconds average. The sound amplification and distribution for the auditorium is provided by the German audio expert company d & b Audiotechnik using the J Series, a state-of-the-art line array system with an even sound distribution to the auditorium (±2 db). The FOH sound console is the incomparable digital 96 channel MIDAS XL8.</p>
    </li>
    <li class="left">
      <%= image_tag "venue/floor.png"%>
      <h5>PUBLIC AREA</h5>
      <p>The theater entrance opens into the spacious box office lobby which maintains the industrial feel of the building facade. A great asset of the theatre is the double tier foyer that distributes more than 1,500 meters of open space. The two levels are connected with wide stairwells and elevators for convenient access to all entrances of the main hall. Opulent, modern, spacious, sunny and fresh in appearance, the foyer areas have been designed to feel warm and inviting to the thousands of people it comfortably hosts and with consideration of access for people with physical impairments.</p>        
    </li>
  </ul>
</div>